<div class="container-fluid d-flex flex-column justify-content-center w-100 h-100 bg-dark text-light">
  <div class="align-self-center" style="max-width: 80ch">
    <h1 class="text-center">О проекте</h1>

    <p>Основное назначение данного ЭОР на текущий момент – информационная поддержка курса «Развитие элементов вычислительной культуры младших школьников», в частности, наибольшее внимание уделено теме «Обучение младших школьников рационализации вычислений».</p>

    <p>В дальнейшем список курсов планируется дополнить.</p>
  </div>
</div>
