<div class="container-fluid d-flex flex-column justify-content-center w-100 h-100 bg-dark text-light">
  <div class="align-self-center" style="max-width: 80ch">
    <h1>Контакты</h1>

    <p><i class="fas fa-user"></i> Ивашов А.Ю.</p>

    <p>
      <i class="fas fa-at"></i>
      <a class="text-light" href="mailto:anton.ivashof@gmail.com">anton.ivashof@gmail.com</a>
    </p>

    <p>
      <i class="fas fa-mobile-alt"></i> <a class="text-light" href="tel:+79043310340">+7 (904) 331-03-40</a>
    </p>
  </div>
</div>
