<div class="container pt-0">
  <div class="jumbotron">
    <h1 class="display-4">Math for primary</h1>
    <p class="lead">Научись учить детей рационализации вычислений!</p>
    <hr class="my-4">
    <p>Сайт представляет собой бесплатный интерактивный курс по методике обучения детей начальной школы техникам рационализации вычислений. В рамках курса доступны теоретические материалы и практические задания для самопроверки, а так же контрольное прохождение заданий для проверки преподавателем</p>
    <a class="btn btn-primary btn-lg" href="/contents" role="button">Перейти к курсу</a>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Из говна и палок</h2>
        <p>Всё сделано на коленке, хоть я и старался. Отдельное спасибо гуглу за помощь и козявка в рот JS-миру за их сложные тулзы</p>
        <p><a class="btn btn-secondary" href="/contents" role="button">Перейти к курсу &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Материалы сперты</h2>
        <p>Взяли всё у мамы, но в дипломе её упоминать нельзя. Сделаем вид, что сами всё придумали?</p>
        <p><a class="btn btn-secondary" href="/contents" role="button">Перейти к курсу &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Есть только верстка</h2>
        <p>А больше ничего и не надо чтобы сдать диплом. Если не будем успевать — просто прокликаем вёрстку под cкринкаст</p>
        <p><a class="btn btn-secondary" href="/contents" role="button">Перейти к курсу &raquo;</a></p>
      </div>
    </div>

    <hr>
  </div>
</div>
