<h4 class="theory__header">Рационализация засчёт преобразования выражений</h4>

<p>Значение любого числового выражения можно вычислить, опираясь на правило порядка выполнения действий (правило ПВД)1. Это правило однозначно задает последовательность вычислений – вычислительную программу.</p>

<p>Например:</p>

<div class="d-flex justify-content-center">
  <pre class="align-self-center"><code><span class="text-primary">     1   3      2</span>
7584 : 6 – 1584 : 3</code></pre>
</div>
<div class="d-flex justify-content-center">
  <pre class="align-self-center"><code><span class="text-primary">     1   3      2</span>
7584 : 6 – 1584 : 6</code></pre>
</div>

<p>В этих выражениях, согласно правилу ПВД, сначала выполняют действия 2 ступени: деление (7584 : 6)  и деление (1584 : 6), затем действие 2 ступени – вычитание.</p>

<p>Иногда  можно вычислить рациональнее (быстрее и проще), если сначала преобразовать выражение, а уже к нему применить правило порядка выполнения действий.</p>

<h5 class= "theory__header">Как упростить вычислительную  программу за счет преобразования выра­жения</h5>

<p><b>Вычислительную программу можно рационализировать за счет тождест­венного преобразования</b> исходного выра­жения в новое, задающее другую про­грамму вычислений, например:</p>

<div class="d-flex justify-content-center">
<pre><code><span class="text-primary">     1   3      2           1       2</span>
7584 : 6 – 1584 : 6 = (7584 – 1584) : 6
</code></pre>
</div>

<div class="d-flex justify-content-center">
<pre><code><span class="text-primary">     1    2    3            1     3     2</span>
1476 + 65 + 24 + 35 = (1476 + 24) + (65 + 35)
</code></pre>
</div>

<%=
  render(
    'partials/components/collapse_card',
    title: 'Математическая справка о преобразовании выражений',
    content_id: 'identity_transformations'
  )
%>

<h5 class= "theory__header">Обоснование рационализации в начальной шко­ле</h5>

<p><b>В начальной шко­ле тождественные преоб­разования выражений опираются на свойства арифметических действий и конкретный смысл умножения.</b></p>

<p>При этом свойства арифметических действий можно использовать в прямом и в обратном направлении. </p>

<p>Рассмотрим равенства, в которых  использовано свойство умножения суммы на число: </p>

<ol>
  <li>(а + b) ∙ c = a ∙ c + b ∙ c – в прямом направлении, структура исходного выражения соответствует названию – дана сумма, которую умножают на число</li>
  <li>a ∙ c + b ∙ c = (а + b) ∙ c – в обратном направлении, структура исходного выражения не соответствует названию, а сумма, которую умножают на число, получается после преобразования</li>
</ol>

<p>Формулировки свойств арифметических действий можно вспомнить по ЭОР <a href="http://files.school-collection.edu.ru/dlrstore/76b96c49-ca38-4184-b238-be532cbf280b/ResFile.PDF">«Демонстрационные таблицы по математике»</a></p>

<h5 class= "theory__header">Примеры  рационализации вычислительной программы за счет преобразования выра­жения</h5>

<ol>
  <li>120 : (5 ∙ 3) = 120 : 5 : 3 – использовано свойство деления числа на произведение в прямом направлении.</li>
  <li>630 : 2 : 5 = 630 : (2 ∙ 5) – использовано свойство деления числа на произведение в обратном направлении.</li>
  <li>57 ∙ 9 + 57 = 57 ∙ (9 + 1) – использовано знание конкретного смысла умножения (57 взяли слагаемым 9 раз и еще 1 раз), или знание свойства умножения числа на сумму в обратном направлении.</li>
  <li>4 ∙ 35 ∙ 25 ∙ 2 = (4 ∙ 25) ∙ (35 ∙ 2) – использован прием группировки множителей на основе переместительного и сочетательного свойств умножения.</li>
</ol>

<p>Два тождест­венных выражения задают разные программы вычислений, одна из которых может быть более рациональна, чем другая. </p>

<h5 class= "theory__header">Признаки рациональности программы вычислений</h5>
<h6>(для вычислений без применения  вычислительной  техники)</h6>

<ol>
  <li>
    Меньшее количество письменных вычислений, например:

    730452 ∙ 3 + 730452 ∙ 7 = 730452 ∙ (3 + 7) – значение исходного выражения вычисляют письменно (в 3 «столбика»), а преобразованного – устно.

    730452 ∙ 3 ∙ 2 = 730452 ∙ (3 ∙ 2) – в исходном выражении два действия выполняют «в столбик», а в преобразо­ванном – одно.
  </li>
  <li>
    Меньшее количество действий в программе, если все действия выполня­ются письменно, например:

    6532 ∙ 3 + 3645 ∙ 3 = (6532 + 3645) ∙ 3 – в обоих выражениях все действия выполняют письменно, но в преобразованном их два, а не три.
  </li>
  <li>Меньшая сложность устных приемов вычислений (если один вычислительный прием включает в себя в качестве операции другой, то последний считается менее сложным), например:

  50 : 2 + 30 : 2 = (50 + 30) : 2 – вычисления в преобразованном выра­жении легче, так как в нем надо 80 : 2 (8 дес. : 2 = 4 дес), этот прием входит в ка­честве операции в деление на 2 чисел 50 и 30.
  </li>
</ol>

<p>Во всех рассмотренных примерах более рациональная программа вычислений задана преобразованным вы­ражением. Может быть и наоборот: если в рассмотренных примерах поменять местами исходное и преобразованное выра­жения, например:</p>

<p>5300 : (2 ∙ 5) =  5300 : 2 : 5.</p>

<p>Поэтому прежде, чем выполнять преобразование выра­жения, надо смотреть, целесообразно ли это, упростит ли это вычисления.</p>
