<h4 class="theory__header">Рационализация за счёт возможности не выполнять некоторые действия</h4>

<p>Это второе, выделенное нами, направление рационализации вычислительной программы.</p>

<p>Например:</p>

<div class="d-flex justify-content-center">
  <pre class="align-self-center"><code><span class="text-primary">       2       1     3        4       5</span>
(29304 + 67290 : 30) : (29304 + 67290 : 30) = 1</code></pre>
</div>

<p>В примере выше нет смысла выполнять действия 1–4, т.к. в скобках одинаковые выражения, не равные нулю, при делении получится 1.</p>

<p>А в следующем примере нет смысла выполнять действия 1, 2, 3, т.к. потом на полученный результат надо делить 0, а при делении нуля на любое число, не равное нулю,  получится 0.</p>

<div class="d-flex justify-content-center">
  <pre class="align-self-center"><code><span class="text-primary">  4       1     3    2</span>
0 : (1052 ∙ 38 – 37 ∙ 403) </code></pre>
</div>

<h5 class="theory__header">Обоснование рационализации в начальной шко­ле</h5>

<p><b>В начальной шко­ле рационализация программы за счет возможности не выполнять в ней действия опирается на несколько видов знаний.</b></p>

<p><b>1. Связи результатов и компонентов арифметических действий</b></p>

<p>Формулировки связей результатов и компонентов арифметических действий приведены в ЭОР <a href="http://files.school-collection.edu.ru/dlrstore/76b96c49-ca38-4184-b238-be532cbf280b/ResFile.PDF">«Демонстрационные таблицы по математике»</a></p>

<p>Например:</p>

<ol class="theory__list theory__list--parenthesized">
  <li class="theory__list-item">
    <b>(12756 + 65458) – 12756 = 65458</b>
    <p>Здесь из суммы (12756 + 65458) вычитают первое слагаемое (12756), значит, получится второе слагаемое 65458.</p>
  </li>
  <li class="theory__list-item">
    <b>(101010 – 57654) + 57654 = 101010</b>
    <p>Здесь к разности (101010 – 57654) прибавили вычитаемое 57654, значит, получится уменьшаемое 101010.</p>
  </li>
</ol>

<p>Можно рассуждать и по-другому: число 101010 сначала уменьшили на 57654, а потом увеличили на столько же, значит, число не изменилось. В этом случае используются знании об изменении</p>

<p>Более сложной ситуацией применения знания связей результатов и компонентов действий является следующая:</p>

<p class="text-center">101010 – (101010 – 57654) = 57654,</p>

<p>где из уменьшаемого 101010 вычитают разность101010 и 57654, поэтому получается вычитаемое 57654.</p>


<p><b>2. Конкретный смысл действий вычитания и деления над одинаковыми компонентами:</b> a – a = 0,  a : a = 1 (a ∈ ℕ)</p>

<p>Например:</p>

<p class="text-center">(29304 + 61729) – (29304 + 61729) = 0</p>

<p>Здесь одинаковые компоненты представлены выражениями, их значения можно не вычислять. Если же такое выражение стоит в делителе, то надо сделать прикидку, чтобы быть уверенным, что его значение не равно 0.</p>

<p class="text-center">(29304 + 67290 : 30)  : (29304 + 67290 : 30) = 1</p>

<p><b>3. Правило умножения на нуль, случаи умножения и деления нуля:</b> a ∙ 0 = 0, 0 ∙ a = 0;  0 : a = 0, где a ∈ ℕ).</p>

<p>Например:</p>

<p class="text-center">(73280 : 40) ∙ (25704 – 19876) ∙ 0 = 0</p>

<p>Здесь дано произведение трех множителей, два из них представлены выражениями, значения которых можно не вычислять, как и произведение первого множителя на второй.</p>

<p><b>Здесь дано произведение трех множителей, два из них представлены выражениями, значения которых можно не вычислять, как и произведение первого множителя на второй.</b></p>
