<h4 class="theory_header">Усложнение  условий  рационализации  программы  вычислений</h4>

<ol class="theory__list theory__list--parenthesized">
  <li class="theory__list-item">
    <b>Представление  некоторых  одинаковых  чисел одинаковыми  выражениями.</b>

    <p>Например:</p>

    <p class="text-center">(12004 – 4 ∙ 19) + 4 ∙ 19 = 12 004.</p>

    <p>Здесь при нахождении значения выра­жения можно использовать знание связи результатов и компонентов вычитания, учи­тывая, что вычитаемое представлено произ­ведением.</p>
  </li>

  <li class="theory__list-item">
    <b>Представление нуля или одного из одинаковых чисел выражением.</b> (Возможность  применения знаний для рационализации появляется после выполнения некоторых  вычислений):

    <p class="text-center">(12004 – 4 ∙ 19) + 76 = (12004 – 76) + 76 = 12004;</p>
    <p class="text-center">(100 – 99 – 1) ∙ (1723 – 23 ∙ 17) = 0 ∙ (1723 – 23 ∙ 17) = 0.</p>
  </li>

  <li class="theory__list-item">
    <b>Возможность применения некоторых знаний не ко всему выражению, а к его части.</b>

    <p>Например:</p>

    <p class="text-center">2380 + 2527 : 7 + 273 : 7 = 2380 + (2527 + 273) : 7 =<br>= 2380 + 2800 : 7 = 2380 + 400 = 2780.</p>

    <p>Здесь свойство деления суммы на чис­ло   применяется   к  двум   слагаемым   из трех данных.</p>
  </li>

  <li class="theory__list-item">
    <b>Возможность одновременного применения нескольких знаний к разным частям  выражения.</b>

    <p>Например:</p>

    <p class="text-center">5 ∙ 23 ∙ 2 + 98 + 102 = (5 ∙ 2) ∙ 23 + (98 + 102) = 230 + 200 = 430;</p>
    <p class="text-center">783 ∙ 4 + 783 ∙ 6 – 703 ∙ 8 ∙ 0 = 783 ∙ (4 + 6) – 0 = 7830.</p>

    <p>В первом выражении используется группировка множителей и группировка слагаемых, а во втором – свойство умно­жения числа на сумму и правило умно­жения на нуль.</p>
  </li>

  <li class="theory__list-item">
    <b>Возможность применения к одному выражению нескольких знаний – одного после другого.</b>

    <p>Например:</p>

    <p class="text-center">5 ∙ (300 + 65) – 5 ∙ 65 = 5 ∙ 300 + 5 ∙ 65 – 5 ∙ 65 = 5 ∙ 300 = 1500;</p>

    <p class="text-center">65 277 : 3 : 3 – 65 277 : 9 = 65 277 : (3 ∙ 3) – 65 277 : 9 =<br>= 65 277 : 9 – 65 277 : 9 = 0</p>

    <p>В первом примере после применения свойства умножения суммы на число появляется возможность использовать взаи­мосвязь суммы и слагаемых. Во втором примере после применения свойства де­ления числа на произведение становится видно, что из выражения вычитают его же (а – а = 0).</p>
  </li>
</ol>
