<h4 class="theory__header">Этап 2. Сокращение помощи учителя, переход учащихся от указаний учителя о необходимости использования знаний к самостоятельному поиску удобных способов вычислений. Усвоение новых теоретических знаний об арифметических действиях, обучение их применению.</h4>

<ol class="theory__list theory__list--parenthesized">
  <li class="theory__list-item">
    Вычисли значения только тех выражений, которые можно найти удобным способом. Укажи, как считал.<br><br>

    <div class="row justify-content-center">
      <div class="col-auto">
        <p>46 + 3 + 4 + 20</p>
        <p>38 + 5 + 3 + 40</p>
        <p>47 + (16 + 3) + 4</p>
      </div>
      <div class="col-auto ml-5">
        <p>а + 20 + 5 + 35 + 40</p>
        <p>57 + 8 + 24 + 10 + 3</p>
        <p>6  + (29 + 14) + 1</p>
      </div>
    </div>
  </li>
</ol>

<p>Полезно показывать дугой группировку слагаемых, доказывая правильность выбора. Причем можно группировать не только явно заданные слагаемые, но и, получив первый результат, смотреть, что далее лучше сложить «круглые» числа, а потом прибавить 3.</p>

<p class="text-center">46 + 3 + 4 + 20 = (46 + 4) + 3 + 20 = 50 + 20 + 3 = 73</p>

<p>Такие упражнения можно предлагать в качестве дополнительного материала на карточках для тех учеников, которые быстро справляются с основным заданием урока.</p>

<p>В ходе выполнения подобных заданий полезно составить памятку, которая поможет ученикам в нахождении значений сумм на основе группировки слагаемых.</p>

<p><b>Памятка</b></p>

<ol>
  <li>Анализирую сумму.</li>
  <li>Ищу, есть ли числа, при сложении которых получается «круглое» число.</li>
  <li>Группирую удобные слагаемые.</li>
  <li>Выполняю вычисление.</li>
  <li>Проверяю…</li>
</ol>

<p>Приведем  задания на применение знаний об изменении суммы и разности,  аналогичные заданиям этапа 1, но с некоторым усложнением.</p>

<ol class="theory__list theory__list--parenthesized" start="2">
  <li class="theory__list-item">
    Рассмотри выражения в каждом столбике и составь следующее. Вычисли значения выражений.<br><br>

    <div class="row justify-content-center">
      <div class="col-auto">
        <p>50 – 40 + 4</p>
        <p>60 – 40 + 4</p>
      </div>
      <div class="col-auto ml-5">
        <p>50 – 40 + 4</p>
        <p>60 – 40 + 5</p>
      </div>
      <div class="col-auto ml-5">
        <p>50 – 40 + 4</p>
        <p>60 – 50 + 5</p>
      </div>
    </div>
  </li>

  <li class="theory__list-item">
    Составь следующее выражение в каждом столбике. Вычисли значения выражений.<br><br>

    <div class="row justify-content-center">
      <div class="col-auto">
        <p>34 + 3 – 7</p>
        <p>34 + 6 – 7</p>
        <p>34 + 9 – 7</p>
      </div>
      <div class="col-auto ml-5">
        <p>36 + 5 – 11</p>
        <p>38 + 7 – 11</p>
        <p>40 + 9 – 11</p>
      </div>
    </div>
  </li>
</ol>

<p>В заданиях 2) и 3) знания об изменении суммы и разности применяют к выражениям в 2 действия. В задании 3)  усложнен числовой материал.</p>

<p>Также в данных заданиях надо увидеть закономерность и продолжить ее. Например, во втором столбике задания 3) и первое, и второе слагаемое увеличили на 2, следовательно, сумма увеличится на 4. Все полученные суммы уменьшили на 11. Значит, ответы будут увеличиваться на 4. Менее подготовленным учащимся можно предложить выражения первого столбика из задания 3), где первое слагаемое не меняли, а второе увеличивали на 3.</p>
