<p>В алгебре рационализацию вы­числений значений выражений (в основ­ном алгебраических) связывают с тождест­венными преобразованиями – заменой данного выражения тождественным ему (с функциональной или формальной точки зрения).</p>

<p>С функциональной точки зрения: «Два выражения называются тождест­венными, если при любых значениях пе­ременных из областей определения выра­жений их соответственные значения рав­ны»1.</p>

<p>Функциональная точка зрения не позволяет доказывать тождественность двух выражений, так как обычно область определения выражений является бесконечным множеством. Например, с этой точки зрения невозможно проверить тождество а + b = b + а при а,b⊂N.</p>

<p>«С формальной точки зрения два выражения тождественны, если они могут быть получены друг из друга путем формальных преобразований, т.е. последовательной за­меной одного выражения другим в резуль­тате применения того или иного правила тождественного преобразования, которое является следствием основных законов действий, или непосредственно самих за­конов действий»2. Например, тождество (20 + 4) ∙ 3 = 20 ∙ 3 + 4 ∙ 3 для младших школьников может быть обосновано применением свойства умножения суммы на число.</p>

<p>Понятие о тождественных преобразова­ниях можно связать с выражением числа в различных формах, например: 24 = 20 + 4 = 2 ∙ 10 + 4  = 3 ∙ 8 = 30 – 6.</p>
