<div class="course-layout">
  <aside class="course-layout__sections_menu">
    <%= render 'components/sections_menu' %>
  </aside>

  <main class="course-layout__section-contents">
    <%= yield %>
  </main>
</div>
