<div class="exam-links">
  <div class="exam-links__container">
    <div class="exam-links__qr-code">
      <%= qr_code %>
    </div>
    <div class="exam-links__info">
      <h1>Группа 3</h1>
      <h3>Преобразование выражений</h3>
      <h5><a href="<%= url %>"><%= url %></a></h5>
      <h3>Осталось: 15:30</h3>
    </div>
  </div>
</div>
