<div class="layout">
  <header class="layout__header">
    <%= render 'components/main_navbar' %>
  </header>

  <div class="layout__content-container">
    <div class="layout__content">
      <aside class="layout__sections_menu">
        <%= render 'components/sections_menu' %>
      </aside>

      <main class="layout__main">
        <%= yield %>
      </main>
    </div>
  </div>

  <footer class="layout__footer">
    <%= render 'components/footer' %>
  </footer>
</div>
