<div class="main-layout">
  <header class="main-layout__header">
    <%= render 'components/main_navbar' %>
  </header>

  <div class="main-layout__content">
    <%= content_for?(:content) ? yield(:content) : yield %>
  </div>

  <footer class="main-layout__footer">
    <%= render 'components/footer' %>
  </footer>
</div>
