<nav class="main-navbar">
  <a class="main-navbar__brand-link" href="#">Math For Primary</a>

  <button class="main-navbar__toggler-btn"
          type="button"
          data-toggle="collapse"
          data-target=".main-navbar__collapse"
          aria-controls="main-navbar__collapse"
          aria-expanded="false"
          aria-label="Toggle navigation"
  >
    <span class="main-navbar__toggler-btn-icon"></span>
  </button>

  <div class="main-navbar__collapse collapse">
    <div class="main-navbar__nav">
      <%
        [
          ['Главная',   root_path],
          ['Курс',      lessons_path],
          ['О проекте', about_path]
        ].each do |title, url|
      %>
        <a class="main-navbar__nav-link
                  <%= 'main-navbar__nav-link--active' if current_page?(url) %>"
           href="<%= url %>"
        ><%= title %></a>
      <% end %>
    </div>
  </div>
</nav>
