<nav class="sections-menu">
  <ul class="sections-menu__nav ">
    <li class="sections-menu__nav-item sections-menu__nav-item--active">
      <a class="sections-menu__link" href="#">Home</a>
    </li>
    <li class="sections-menu__nav-item">
      <a class="sections-menu__link" href="#">Link</a>
    </li>
  </ul>
</nav>
