<div class="task-selector">
  <div class="task-selector__task-marker task-selector__task-marker--finished"></div>
  <div class="task-selector__task-marker task-selector__task-marker--finished"></div>
  <div class="task-selector__task-marker task-selector__task-marker--current"></div>
  <div class="task-selector__task-marker"></div>
  <div class="task-selector__task-marker"></div>
  <div class="task-selector__task-marker"></div>
</div>
