<div class="task-set">
  <div class="task-set__header">
    <%= render 'components/task_selector' %>
  </div>

  <div class="task-set__content">
    <%= render 'components/task' %>
  </div>

  <div class="task-set__footer">
    <div class="task-set__controls">
      <button class="task-set__prev-task-btn">< Prev</button>
      <button class="task-set__next-task-btn">Next ></button>
    </div>
  </div>
</div>
