<div class="change-exam-page">
  <div class="change-exam-page__content-row">
    <div class="change-exam-page__content-col">
      <div class="change-exam-page__form-container">
        <div class="change-exam-page__form-container-header">
          <% action_name = exam.new_record? ? 'Создание' : 'Изменение' %>
          <h1 class="change-exam-page__heading"><%= action_name %> сессии контроля</h1>
        </div>
        <div class="change-exam-page__form-container-body">
          <%= render 'components/exams/exam_form', exam: exam %>
        </div>
      </div>

      <div class="change-exam-page__navigation-row">
        <div class="change-exam-page__navigation-col">
          <%= render 'components/back_navigation', back_url: exams_path %>
        </div>
      </div>
    </div>
  </div>
</div>
