<div class="exam-session-page">
  <div class="exam-session-page__row">
    <div class="exam-session-page__content-col">
      <% if username %>
        <%= render 'components/exams/exam_session_username_check',
                   token: token, username: username, exam_id: exam_id %>
      <% else %>
        <%= render 'components/exams/exam_session_form', token: token %>
      <% end %>
    </div>
  </div>
</div>
