<table class="exam-details">
  <tbody>
    <tr>
      <th scope="row">Дата</th>
      <td>30.06.19</td>
    </tr>
    <tr>
      <th scope="row">Тема</th>
      <td>Преобразование выражений</td>
    </tr>
    <tr>
      <th scope="row">Статус</th>
      <td>
        <span class="exam-status-badge exam-status-badge--ongoing">Идёт</span>
      </td>
    </tr>
  </tbody>
</table>
