<div class="exam-status-controls">
  <a href="#" class="exam-status-controls__play-btn
                     exam-status-controls__play-btn--<%= exam.pending? ? 'enabled' : 'disabled' %>"
  >
    <i class="exam-status-controls__play-icon"></i>
  </a>

  <a href="#" class="exam-status-controls__stop-btn
                     exam-status-controls__stop-btn--<%= exam.ongoing? ? 'enabled' : 'disabled' %>"
  >
    <i class="exam-status-controls__stop-icon"></i>
  </a>

  <a class="exam-status-controls__qr-code-btn
            exam-status-controls__qr-code-btn--<%= exam.ongoing? ? 'enabled' : 'disabled' %>"
     target="_blank" href="<%= exam_links_url(exam.id) %>"
  >
    <i class="exam-status-controls__external-link-icon"></i> Страница с QR-кодом
  </a>
</div>
