<div class="exam-status-controls">
  <a href="#" class="exam-status-controls__play-btn exam-status-controls__play-btn--on">
    <i class="exam-status-controls__play-icon"></i>
  </a>

  <a href="#" class="exam-status-controls__stop-btn exam-status-controls__stop-btn--off">
    <i class="exam-status-controls__stop-icon"></i>
  </a>

  <a class="exam-status-controls__qr-code-btn" target="_blank"
     href="<%= exam_links_url(exam_id) %>"
  >
    <i class="exam-status-controls__external-link-icon"></i> Страница с QR-кодом
  </a>
</div>
