<div class="single-input-task-controls">
  <input type="text"
         class="single-input-task-controls__input"
         name="submission[contents][]"
         value="<%= submission&.contents&.join %>"
         placeholder="Ваш ответ...">
  <% if hint %>
    <small class="single-input-task-controls__hint">
      <%= hint %>
    </small>
  <% end %>
</div>
