<div class="single-input-task-controls">
  <input type="text"
         class="single-input-task-controls__input"
         name="submission[contents][]"
         autocomplete="off"
         value="<%= submission&.contents&.join %>"
         <%= 'disabled' if mode == :show %>
         placeholder="<%= 'Ваш ответ...' if mode == :solve %>">
  <% if mode == :solve && hint %>
    <small class="single-input-task-controls__hint">
      <%= hint %>
    </small>
  <% end %>
</div>
