<div class="single-input-task-controls">
  <input class="single-input-task-controls__input" type="text" name="answer" placeholder="Ваш ответ...">
  <% if hint %>
    <small class="single-input-task-controls__hint">
      <%= hint %>
    </small>
  <% end %>
</div>
