.main-layout {
  @extend .d-flex;
  @extend .flex-column;
  @extend .flex-fill;
}

.main-layout__content {
  @extend .container-fluid;
  @extend .d-flex;
  @extend .flex-shrink-0;
  @extend .flex-fill;
  @extend .justify-content-center;
  @extend .p-0;
}

.main-layout__footer {
  @extend .w-100;
  @extend .mt-auto;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}
