<div class="course-layout">
  <div class="course-layout__row">
    <aside class="course-layout__sections_menu">
      <%= render 'partials/components/sections_menu' %>
    </aside>

    <main class="course-layout__section-contents">
      <%= yield %>
    </main>
  </div>
</div>
