<table class="exam-details">
  <tbody>
    <tr>
      <th scope="row">Дата</th>
      <td><%= exam.started_at&.strftime('%d.%m.%y %H:%M') %></td>
    </tr>
    <tr>
      <th scope="row">Тема</th>
      <td><%= exam.task_set.title %></td>
    </tr>
    <tr>
      <th scope="row">Статус</th>
      <td>
        <span class="exam-status-badgem exam-status-badge--<%= exam.status %>">
          <%= t("models.exam.status.#{exam.status}") %>
        </span>
      </td>
    </tr>
  </tbody>
</table>
