<div class="exam-status-controls">
  <%=
    link_to(
      start_exam_path(exam),
      method: :post,
      class: <<~CLASS
        exam-status-controls__play-btn
        exam-status-controls__play-btn--#{exam.created? ? 'enabled' : 'disabled'}
      CLASS
    ) do
  %>
    <i class="exam-status-controls__play-icon"></i>
  <% end %>

  <%=
    link_to(
      stop_exam_path(exam),
      method: :post,
      class: <<~CLASS
        exam-status-controls__stop-btn
        exam-status-controls__stop-btn--#{exam.ongoing? ? 'enabled' : 'disabled'}
      CLASS
    ) do
  %>
    <i class="exam-status-controls__stop-icon"></i>
  <% end %>

  <a class="exam-status-controls__qr-code-btn
            exam-status-controls__qr-code-btn--<%= exam.ongoing? ? 'enabled' : 'disabled' %>"
     target="_blank" href="<%= exam_links_url(exam.session_token) %>"
  >
    <i class="exam-status-controls__external-link-icon"></i> Страница с QR-кодом
  </a>
</div>
