<table class="exam-results-table">
  <thead class="exam-results-table__header">
    <tr>
      <th scope="col">Студент</th>
      <th class="exam-results-table__score-header" scope="col">Результат</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <%
      @exam.examinees.each do |examinee|
    %>
      <tr>
        <th scope="row">
          <%= examinee.username %>
        </th>
        <td class="exam-results-table__score-colunm">
          <%= examinee.score %> / <%= exam.task_set.tasks.size %>
        </td>
        <td class="exam-results-table__controls-colunm">
          <a href="<%= exam_examinee_path(@exam, examinee) %>" class="exam-results-table__show-btn">
            <i class="exam-results-table__eye-icon"></i>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
