<div class="task-selector">
  <% tasks.each do |task| %>
    <a class="task-selector__task-marker
              <%= "task-selector__task-marker--#{task[:status]}" if task[:status] %>
              <%= 'task-selector__task-marker--current' if task[:id] == current_task_id %>"
       href="?tid=<%= task[:id] %>"
    ></a>
  <% end %>
</div>
