<nav class="main-navbar">
  <a class="main-navbar__brand-link" href="<%= root_url %>">RatioCalc</a>

  <button class="main-navbar__toggler-btn"
          type="button"
          data-toggle="collapse"
          data-target=".main-navbar__collapse"
          aria-controls="main-navbar__collapse"
          aria-expanded="false"
          aria-label="Toggle navigation"
  >
    <span class="main-navbar__toggler-btn-icon"></span>
  </button>

  <div class="main-navbar__collapse collapse">
    <div class="main-navbar__nav">
      <%
        [
          ['Материалы', course_path],
          (['Контроль',  exams_path] if user_signed_in?),
          ['О проекте', about_path],
          ['Контакты', contacts_path],
        ].compact.each do |title, url|
      %>
        <a class="main-navbar__nav-link" href="<%= url %>">
          <span class="main-navbar__nav-link-text
                       <%= 'main-navbar__nav-link-text--active' if request.path =~ /#{url}/ %>">
            <%= title %>
          </span>
        </a>
      <% end %>
    </div>
  </div>
</nav>
