<nav class="main-navbar">
  <a class="main-navbar__brand-link" href="<%= root_url %>">Math For Primary</a>

  <button class="main-navbar__toggler-btn"
          type="button"
          data-toggle="collapse"
          data-target=".main-navbar__collapse"
          aria-controls="main-navbar__collapse"
          aria-expanded="false"
          aria-label="Toggle navigation"
  >
    <span class="main-navbar__toggler-btn-icon"></span>
  </button>

  <div class="main-navbar__collapse collapse">
    <div class="main-navbar__nav">
      <%
        [
          ['Материалы', contents_path],
          (['Контроль',  exams_path] if user_signed_in?),
          ['О проекте', about_path]
        ].compact.each do |title, url|
      %>
        <a class="main-navbar__nav-link
                  <%= 'main-navbar__nav-link--active' if request.path =~ /#{url}/ %>"
           href="<%= url %>"
        ><%= title %></a>
      <% end %>
    </div>
  </div>
</nav>
