<nav class="sections-menu">
  <h6 class="sections-menu__header">1. Рационализация вычислительной программы</h6>

  <ul class="sections-menu__nav">
    <li class="sections-menu__nav-item">
      <a class="sections-menu__link
                <%= 'sections-menu__link--active' if current_page?(content_path('1-1_formula_transformations')) %>"
         href="<%= content_path('1-1_formula_transformations') %>"
      >
        Преобразование выражений
      </a>
    </li>
    <li class="sections-menu__nav-item">
      <a class="sections-menu__link
                <%= 'sections-menu__link--active' if current_page?(task_set_path(1)) %>"
         href="<%= task_set_path(1) %>"
      >
        Практика
      </a>
    </li>
    <li class="sections-menu__nav-item">
      <a class="sections-menu__link" href="#">Невыполнение действий</a>
    </li>
    <li class="sections-menu__nav-item">
      <a class="sections-menu__link" href="#">Практика</a>
    </li>
    <li class="sections-menu__nav-item">
      <a class="sections-menu__link" href="#">Более сложные примеры</a>
    </li>
  </ul>

  <h6 class="sections-menu__header">2. Рационализация выполнения вычислений</h6>

  <ul class="sections-menu__nav">
    <li class="sections-menu__nav-item">
      <a class="sections-menu__link" href="#">???</a>
    </li>
    <li class="sections-menu__nav-item">
      <a class="sections-menu__link" href="#">???</a>
    </li>
  </ul>
</nav>
