<div class="task">
  <div class="task__header">
    <div class="task__description-container">
      <div class="task__description"><%= task.description %></div>
    </div>
  </div>

  <% if task.contents %>
    <div class="task__body">
      <div class="task__contents">
        <hr />
        <%= raw task.contents %>
        <hr />
      </div>
    </div>
  <% end %>

  <div class="task__footer">
    <%= render 'partials/components/task_controls', task: task %>
  </div>
</div>
