<div class="task-set">
  <div class="task-set__header">
    <div class="task-set__task-selector">
      <%= render 'partials/components/task_set/task_selector',
                 tasks: tasks,
                 current_task_id: current_task.id %>
    </div>
  </div>

  <div class="task-set__body">
    <div class="task-set__task
                <%= "task-set__task--#{submission.status}" if !event.is_a?(Exam) && submission %>">
      <%= render 'partials/components/task', task: current_task, event: event, submission: submission, mode: :solve %>
    </div>
  </div>

  <div class="task-set__footer">
    <div class="task-set__navigation">
      <%
        task_ids = tasks.map { |task| task[:id] }
        current_index = task_ids.index(current_task.id)

        prev_id = current_index - 1 >= 0 ? task_ids[current_index - 1] : nil
        next_id = current_index + 1 < tasks.size ? task_ids[current_index + 1] : nil
      %>
      <%= render 'partials/components/task_set/navigation',
                 prev_url: prev_id ? "?tid=#{prev_id}" : nil,
                 next_url: next_id ? "?tid=#{next_id}" : nil %>
    </div>
  </div>
</div>
