<form class="task-controls">
  <div class="task-controls__inputs">
    <% if task.multiple_choice? %>
      <%= render 'partials/components/task_controls/multiple_choice', options: task[:options] %>
    <% elsif task.single_input? %>
      <%= render 'partials/components/task_controls/single_input', hint: task.hint %>
    <% end %>
  </div>
  <div class="task-controls__submit">
    <button type="submit" class="task-controls__submit-btn">Проверить</button>
  </div>
</form>


