<div class="task-set">
  <div class="task-set__header">
    <div class="task-set__task-selector">
      <%= render 'partials/components/task_set/task_selector',
                 tasks: tasks,
                 current_task_id: current_task[:id] %>
    </div>
  </div>

  <div class="task-set__body">
    <div class="task-set__task">
      <%= render 'partials/components/task', task: current_task %>
    </div>
  </div>

  <div class="task-set__footer">
    <div class="task-set__navigation">
      <%= render 'partials/components/task_set/navigation',
                 prev_url: (current_task[:id] - 1) >= 0 ? "?tid=#{(current_task[:id] - 1)}" : nil,
                 next_url: (current_task[:id] + 1) < tasks.size ? "?tid=#{(current_task[:id] + 1)}" : nil %>
    </div>
  </div>
</div>
