<div class="card step-card">
  <div class="card-header text-center step-card__header">
    <h1 class="card-title">Урок 1 нах</h1>

    <div class="step-card__progress-bar">
      <% 3.times do %>
        <div class="step-card__progress_marker step-card__progress_marker--finished"></div>
      <% end %>

      <div class="step-card__progress_marker step-card__progress_marker--current"></div>

      <% 4.times do %>
        <div class="step-card__progress_marker"></div>
      <% end %>
    </div>
  </div>

  <div class="card-body step-card__content">

  </div>

  <div class="card-footer text-center step-card__footer">
    <button class="btn btn-primary">< Back</button>
    <button class="btn btn-success">Check</button>
    <button class="btn btn-primary">Next ></button>
  </div>
</div>
