.main-navbar {
  @extend .navbar;
  @extend .navbar-expand-lg;
  @extend .navbar-dark;
  background: black;
}

.main-navbar__brand-link { @extend .navbar-brand; }
.main-navbar__toggler-btn { @extend .navbar-toggler; }
.main-navbar__toggler-btn-icon { @extend .navbar-toggler-icon; }

.main-navbar__collapse { @extend .navbar-collapse; }
.main-navbar__nav { @extend .navbar-nav; }

.main-navbar__nav-link {
  @extend .nav-item;
  @extend .nav-link;
  @extend .text-light;
  @extend .p-0;
  @extend .mx-2;
}

.main-navbar__nav-link-text {
  @extend .d-inline-block;
  @extend .border-bottom;
  border-color: transparent !important;
  border-bottom-width: .25rem !important;

  &.main-navbar__nav-link-text--active {
    @extend .active;
    @extend .border-light;
  }
}

