.task-set {
  @extend .container;
  @extend .d-flex;
  @extend .flex-column;
  @extend .h-100;
}

.task-set__header {
  @extend .row;
  @extend .py-2;
  @extend .border-bottom;
  @extend .border-secondary;
}

.task-set__content {
  @extend .row;
  @extend .flex-fill;
  @extend .py-2;
}

.task-set__content--correct { background: #e8f5e9 }

.task-set__footer {
  @extend .row;
  @extend .py-2;
  @extend .border-top;
  @extend .border-secondary;
  @extend .bg-light;
}

.task-set__controls {
  @extend .col-12;
  @extend .d-flex;
  @extend .justify-content-between;
}

.task-set__task-btn {
  @extend .btn;
  @extend .btn-outline-info;
  min-width: 30%;
}

.task-selector {
  @extend .col-12;
  @extend .text-center;
}

.task-selector__task-marker {
  @extend .d-inline-block;
  @extend .align-middle;
  @extend .border;
  @extend .border-secondary;
  @extend .rounded-circle;
  @extend .ml-2;
  width: 20px;
  height: 20px;
}

.task-selector__task-marker--current {
  @extend .border;
  @extend .border-warning;
}

.task-selector__task-marker--finished {
  background: #90ee02;
}
