.theory {
  @extend .container;
}

.theory__layout-row {
  @extend .row ;
  @extend .justify-content-center;
}

.theory__layout-col {
  @extend .col-lg-9 ;
  @extend .col-md-12 ;
  @extend .col-sm-12 ;
  @extend .col-12;
  @extend .my-2;
}

.theory__header {
  @extend .mt-3;
}

.theory__list {
  counter-reset: list;

  @for $i from 0 through 20 {
    &[start="#{$i}"] { counter-reset: list ($i - 1); }
  }

  .theory__list-item { list-style: none; }
}

.theory__list--parenthesized {
  .theory__list-item:before {
    content: counter(list, decimal) ") ";
    counter-increment: list;
  }
}
